<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="format.css">
</head>
<body>
  <div class="pai">
    <div class="filho1">
      <img src="mapa-capitais-brasil.jpg" alt="">
    </div>
    <div class="filho2">
      <h1>Resultado</h1>
    </div>
  </div>
  <div class="menu">
    <input class="saida" type="text" placeholder="Saida">
    <input class="chegada" type="text" placeholder="Chegada">
    <button class="enviar" type="submit">
      Enviar
    </button>
  </div>
</body>
</html>